@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  background-color: transparent;

  font-family: SF Pro Text, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  margin-top: 2px;
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffff;
}

::-webkit-scrollbar-thumb {
  background-color: #817c7c9a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #817c7c9a;
  width: 4px;
}

.grids{
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  position: relative !important;
}
.item {
  display: block;
  position: absolute;
   width: auto;
  min-height: 100px;
  margin: 5px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  color: #555;
}
.my-custom-content {
  width: 800px;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

